* {
    box-sizing: border-box;
    padding-bottom: auto;
    line-height: 1.618em;
    font: 400 16px 'Montserrat', 'sans-serif';
    
}

main {
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10rem;
    margin-left: 170px;
    background-color: black;
    background-size: cover;
    text-align: center;
  
}
   
  nav{  
    display: flex;
    position: fixed;
    background-color: black;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    border-right: silver solid 5px;
    height: 100%;
    width: 175px;
    top: 0;
    left: 0;
    

    } 

nav a{
        justify-items: 40px;
        color: silver;
        align-content: stretch;
        font-weight: 700;
        font-size: 2rem;
        font-weight: bold;
        
}


@media only screen and (max-width: 600px) {

main{
    margin-left: 0;

}

nav{
    display: none;

}
.mobile-navbar::before{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

}

.top-navbar-small-only{
    color: silver!important;
    background-color: black!important;

}

.top-navbar-small-only, a{
    width: 24%!important;
    float: left;
    border-bottom: silver solid 1px;
    text-decoration: none;
    outline: 0;
}
a.active, .top-navbar-small-only a:hover{
    background-color: silver;
    color: black;
    width: 100%;
    align-items: center;
    transition: background-color 1s;
    overflow-block: 160px;;

}
}

a.active, nav a:hover{
    background-color: silver;
    color: black;
    width: 100%;
    align-items: center;
    transition: background-color 1s;
    overflow-block: 160px;;

}


.Photo{
    padding-bottom: 25px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    padding-right: 5px;
}

.sidebar-items{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;

}

i{
    margin: auto;

}

.header {
    text-indent: 3em;
    width:100%;
    padding-bottom: 25px;
}

header h1 {
    display: block;
    color: white;
    font-size: 4em;
    text-align: center;
    top: 0;
}

span p {
    font-size: 3em;
    color: white;
    text-align: center;
}

h2{
    font-size: 2em;
    color: white;
    text-align: left;
    padding-top: 3em;
}

section p{
    font-size: 1.5em;
    line-height: 1.618em;
    color: silver;
    text-align: center;
    padding: 10px;
    max-width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;

}

#projects-list{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        padding: 0;
        margin: 0;
        
    }

    #projects-list article {
        background-color: black;
        border-radius: .5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 1em auto;
        width: 32%;
        text-align: center;

    }

    #projects-list article h3{
        text-align: center;
        color: white;
        font-size: 2em;
        margin-top:20px;
        margin-bottom: 20px;

    }

    #projects-list article img {
        width: 100%;
        height: 20em;

    }

    .button {
            border: 3px solid silver;
            padding: 20px;
        }
       .button:hover {
            border: 3px dotted silver;
            color: silver;
            background: black;
        }

    #contact {
        text-align: center;
        color: silver;
        border-radius: 1em;
        
    }

    #contact a{
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        padding: 2em;
        text-decoration: none;
        color: inherit;
        margin-bottom: 30px;

    }

    #contact a:hover{
        color:black;
        background-color: silver;
        align-items: center;
        transition: background-color 1s;

    }

    hr{
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        border: 0;
        border-top: 1px solid #eee;
        margin: 20px 0;
        width: 200px;
        padding-bottom: 2em;
    }

  



   


