* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 400 16px 'racing sans one', 'Montserrat', 'sans-serif';
}
.container {
    display: grid;

    grid-template-areas:

      "nav content";


    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    height: 100vh;
  }



main {
    background-color: whitesmoke;
    background-size: 100%;
    background-position: bottom;
    background-size: inherit;
    margin: 0 auto;
  
}
   
  nav{  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 26px;
    color: orange;
    background-image: url('images/header-background.jpg');
    text-decoration: none;
    overflow: auto;
    align-items: center;
    border-right: orange solid 5px;
    

    } 

nav a{
        color: orange;
        align-content: stretch;
        font-weight: 700;
        font-size: 2rem;
}


.Photo{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    color: inherit;
}

.sidebar-items{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;

}
i{
    margin: auto;

}


.header {
    background-image: url('images/header-background.jpg');
    text-indent: 2em;
    width:100%;
    padding-bottom: 25px;
    color: orange;
    border-bottom: orange ridge 5px;
}

header h1 {
    font-size: 4em;
    text-align: center;
}

span p {
    font-size: 3em;
    color: orange;
    text-align: center;
}

h2{
    font-size: 3em;
    color: darkblue;
    text-align: center;
    padding: 25px;


}

section p{
    font-size: 1.5em;
    color: orange;
    text-align: center;
    padding: 10px;
    background-image: url('images/header-background.jpg');
    max-width: 100%;
    margin-left: 25px;
    margin-right: 25px;

}

#projects-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        margin-left: 25px;
        margin-right: 25px;    
        
    }

    #projects-list article {
        text-align: center;
        background-image: url('images/header-background.jpg');
        padding: 1em;
        border-radius: 1em;
        margin-bottom: .5em;
    }

    #projects-list article img {
        width: 100%;
        justify-items: center;
        image-orientation: inherit;
    }

