* {
    box-sizing: border-box;
    padding-bottom: auto;
    font: 400 16px 'Cambria', 'Montserrat', 'sans-serif';
}
.container {
    display: grid;

    grid-template-areas:

      "nav content";


    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    height: 100vh;
    padding-bottom: auto;
  }



main {
    background-image: url('images/neuron.jpg');
    background-size: 100%;
    background-position: bottom;
    background-size: inherit;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10rem;
  
}
   
  nav{  
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 26px;
    color: silver;
    background-color: black;
    text-decoration: none;
    overflow: auto;
    align-items: center;
    border-right: silver solid 5px;
    

    } 

nav a{
        justify-items: 40px;
        color: silver;
        align-content: stretch;
        font-weight: 700;
        font-size: 2rem;
        font-weight: bold;
        
}

a.active, nav a:hover{
    background-color: silver;
    color: black;
    width: 100%;
    align-items: center;
    transition: background-color 1s;

}


.Photo{
    padding-bottom: 25px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    color: inherit;
}

.sidebar-items{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;

}
i{
    margin: auto;

}

.header {
    background-color:rgba(0, 0, 0, 0.50);
    text-indent: 2em;
    width:100%;
    padding-bottom: 25px;
    color: silver;
    border-bottom: silver ridge 10px;
    border-radius: 5px;
}

header h1 {
    font-size: 4em;
    text-align: center;
}

span p {
    font-size: 3em;
    color: silver;
    text-align: center;
}

h2{
    font-size: 3em;
    color: silver;
    text-align: center;
    padding: 25px;


}

section p{
    font-size: 1.5em;
    color: silver;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    max-width: 100%;
    margin-left: 25px;
    margin-right: 25px;

}

#projects-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        margin-left: 25px;
        margin-right: 25px;    
        
    }

    #projects-list article {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 1em;
        border-radius: 1em;
        margin-bottom: .5em;
    }

    #projects-list article h3{
        color: silver;
        font-size: 2em;
        margin-top:20px;
        margin-bottom: 20px;



    }

    #projects-list article img {
        width: 100%;
        justify-items: center;
        image-orientation: inherit;
        margin-bottom: 20px;
    }

    .button {
            border: 3px solid silver;
            padding: 20px;
        }
       .button:hover {
            border: 3px dotted silver;
            color: silver;
            background: black;
        }

    #contact {
        text-align: center;
        color: silver;
        border-radius: 1em;
        
    }

    #contact a{
        font-size: 1.5em;
        text-decoration: none;
        color: inherit;
        margin-bottom: 30px;

    }

    #contact a:hover{
        color:black;
        background-color: silver;
        width: 100%;
        align-items: center;
        transition: background-color 1s;

    }

    .back-to-top{
        
        text-align: center;
        background-color: rgba(0, 0, 0, 0.50);
        font-weight: bold;
        color: silver;
        font-size: 2.0em;
        margin-top: 2.0rem;
 
        
    }

    .divider{
        border-bottom: 10px ridge silver;
        border-radius: 5px;

    }

  



   


